server:
  port: 8501
  context-path: /auth
  
security:
  basic:
    enabled: false
    
    
    
spring:
  application:
    name: auth-server
  datasource:
    url: jdbc:mysql://localhost:3306/notewitch?useSSL=false&useUnicode=yes&characterEncoding=UTF-8
    username: root  
    password: root
    driver-class-name: com.mysql.jdbc.Driver
  jpa:
    show-sql: false 
    hibernate:
      ddl-auto: none
  thymeleaf:
    cache: false
 
 