server:
  port: 8501
  context-path: /auth
  
security:
  basic:
    enabled: false
    
#eureka:
#  client:
#    register-with-eureka: true
#    fetch-registry: true
#    service-url:
#      defaultZone : http://localhost:8761/eureka
#  instance:
#    hostname: localhost
    
    
spring:
  application:
    name: auth-server
  datasource:
    url: jdbc:mysql://localhost:3306/notewitch?useSSL=false&useUnicode=yes&characterEncoding=UTF-8
    username: root  
    password: root
    driver-class-name: com.mysql.jdbc.Driver
  jpa:
    show-sql: true 
    hibernate:
      ddl-auto: none