spring:
  application:
    name: eureka-service
    
server:
  port: 8761
  
eureka:
  client:
    register-with-eureka: false
    fetch-registry: false
    server:
      wait-time-in-ms-when-sync-empty: 0 
      
      
zuul:
  prefix: /api
  routes:
    db-service:
      path: /db-service/**
      url: http://localhost:8301
    location-service:
      path: /location-service/**
      url: http://localhost:8302