<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/links :: head('Groups')"></head>
<body>
	<!-- Left Panel -->
	<div th:replace="fragments/sidebar :: side"></div>
	<!-- Header-->
	<div id="right-panel" class="right-panel">
		<header th:replace="fragments/header :: headerFrag"></header>
		<!-- /header -->

		<div style="padding: 10px;">
			<table class="table table-striped">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Group Name</th>
						<th scope="col">Group Project Name</th>
						<th scope="col">Group Project Admin</th>
						<th scope="col">Action</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">1</th>
						<td>SR Developers</td>
						<td>POLICE TRACKER</td>
						<td>K.A Bussia</td>
						<td></td>
					</tr>
					<tr>
						<th scope="row">2</th>
						<td>Switch</td>
						<td>THE NOTEWICH</td>
						<td>John Mahama</td>
						<td></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div th:replace="fragments/footer :: foot"></div>
	<script>
	
		$.get("http://localhost:8761/api/db-service/rest/user/allUsers",
				function(data) {
					console.log(data);
				});
	</script>
</body>
</html>