<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/links :: head('Groups')"></head>
<body>
	<!-- Left Panel -->
	<div th:replace="fragments/sidebar :: side"></div>
	<!-- Header-->
	<div id="right-panel" class="right-panel">
		<header th:replace="fragments/header :: headerFrag"></header>
		<!-- /header -->

		<div class="content mt-3" style="padding: 10px;">
			<div class="animated fadeIn">
				<div class="row">

					<div class="col-md-12">
						<div class="card">
							<div class="card-header">
								<strong class="card-title">My Groups</strong>
							</div>
							<div class="card-body">
								<table id="bootstrap-data-table"
									class="table table-striped table-bordered">
									<thead>
										<tr>
											<th>id</th>
											<th>Group Name</th>
											<th>Group Project Name</th>
											<th>Group Project Admin</th>
										</tr>
									</thead>
									<tbody>
										
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="fragments/footer :: foot"></div>

	<!-- .animated -->


	<script>
	$(document).ready(function() {
	       $(function() {
	              var token = $("meta[name='_csrf']").attr("content");
	              var header = $("meta[name='_csrf_header']").attr("content");
	              $(document).ajaxSend(function(e, xhr, options) {
	                    xhr.setRequestHeader(header, token);
	              });
	              
	       });
			var username = $('#username').text();
			
			$.ajax({
			    url: 'http://localhost:8761/api/db-service/rest/user/' + username,
			    type: 'GET',
			    success: function(data) { 
			    	$('tbody').empty();
			    	var userGroupBridge = data.userGroupBridge;
			    	console.log(data)
			    	$.each(userGroupBridge, function(i) {
			    		var dt = $('#bootstrap-data-table').dataTable();
			    		$.each(userGroupBridge[i].groupId.project, function(j) {
				    		dt.fnAddData({DT_RowClass: 'gradeA',
				    									0: userGroupBridge[i].groupId.id,
														1: '<a  onclick="viewProjects(this)">' + userGroupBridge[i].groupId.name + '</a>', 
														2: '<a  onclick="viewProjects(this)">' + userGroupBridge[i].groupId.project[j].projectName + '</a>', 
														3:'<a  onclick="viewProjects(this)">' + userGroupBridge[i].groupId.createdBy + '</a>'
														}, true);
				    		dt.fnSetColumnVis(0, false );
			    		});
			         });
			    },
			    error: function(data) { alert('Failed!');},
			    xhrFields: {
			        withCredentials: true
			     }
			    
			});
	       
	});
	
	function viewProjects(e){
		 $('#bootstrap-data-table tbody tr').on('click', function(){
		        var row = $(this).closest('tr');
		        var id = $('#bootstrap-data-table').dataTable().fnGetData(row)[0];
	           	window.location = "/group/"+ id;
		    }); 
	}
	</script>
</body>
</html>