<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:fragment="links">
<meta charset="utf-8" />
<link href="/css/login.css" th:href="@{/css/login.css}" rel="stylesheet" />

<title>Login :: noteWiTCH</title>

<link href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"
	rel="stylesheet" />

<link
	href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
	th:href="@{http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css}"
	rel="stylesheet"/>
<link href="/css/pe-icon-7-stroke.css"
	th:href="@{/css/pe-icon-7-stroke.css}" rel="stylesheet" />

</head>
</html>
